.searchbar {
  top: 0;
  position: sticky;
  height: var(--searchbar-height);
  width: calc(100vw - var(--menu-width));
  background-color: var(--bg-color-secondary);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  .searchbar__wrapper {
    margin-left: 2em;
    background-color: var(--bg-color-main);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;

    display: flex;
    align-items: center;

    .searchbar--label {
      padding: 0.5em 0 0.5em 0.5em;
      opacity: 0.5;
    }

    .searchbar--input {
      width: 30em;
      padding: 0.5em;
    }

    .searchbar--input::placeholder {
      color: var(--color-secondary);
    }
  }

  .searchbar__wrapper:has(.searchbar--input:focus) {
    outline: 1px solid var(--color-secondary);
  }
}
